body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: #1e293b;
  padding: 20px;
  border-radius: 20px;
  width: 260px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h1 {
  color: white;
  margin-bottom: 10px;
}

.display {
  background: black;
  color: #00ffcc;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 24px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #334155;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #475569;
}

.equal {
  grid-column: span 2;
  background: #22c55e;
}

.clear {
  grid-column: span 2;
  background: #ef4444;
}
